@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  background-image: url("car-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

*{
  margin: auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
/*   background-color: #7cd5f3; */
}

.header{
  width: 100%;
  height: 80px;
  display: block;
  background-color: #101010;
}

.inner_header{
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
/*   background-color: red; */
}

.logo_container{
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 200;
}

.logo_container h1 span{
  font-weight: 800;
}

.navigation{
  float: right;
  height: 100%;
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child{
  padding-right: 0;
}

.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: 'Montserrat';
  font-size: 16px;
}

/* header ends here */

.sideimage img{
  height: 250px;
  width: 250px;
  position: absolute;
  top: 109%;
  right: 10%;
  z-index: 999;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.sideimage:hover img{
  animation: animate 2s linear;
}
@keyframes animate{
  0%
  {
    transfrom: scale(1);
  }
  80%
  {
    transform: scale(0.60);
  }
  95%
  {
    transform: scale(1.10);
  }
  100%
  {
    transform: scale(1);
  }
}

#contentSection{
  height:400px;
  width: 950px;
  position: absolute;
  left: 5%;
  top: calc(50%-200px);
}

#contentSection h2{
/*   font-family: sans-serif; */
  font-family: 'Raleway','Source Sans Pro';
  font-size: 75px;
  color: #511f1f;
  font-weight: 900;
}

#contentSection p{
  font-weight: bold;
/*   font-family: 'Raleway', sans-serif; */
/*   font-family: sans-serif; */
  font-family: 'Raleway','Source Sans Pro';
  padding: 0 0 0 20px;
}

#contentSection button{
  height: 70px;
  width: 200px;
  border: none;
  outline: none;
  background: darkblue;
  color: white;
  cursor: pointer;
  font-weight: 900;
  margin: 20px 0;
  z-index: 100;
  position: absolute;
}

#contentSection button:hover{
  animation: animate 1s linear;
}

/* slider */
.container{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  width: 100%; 
  height: 100vh;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper{
  width: 80%;
  height: fit-content;
}

.swiper-slide img{
  width: 100%;
  height: 50%; 
  place-items: center;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color: #fff;
}

.swiper .swiper-pagination-bullet-active{
  background: #fff;
} 

/* footer */

.footer1{
  min-height: 100vh;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;

/*   margin:0; */
	padding:0;
	box-sizing: border-box;
}
/* *{
	margin:0;
	padding:0;
	box-sizing: border-box;
} */
.containers{

	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
/*   min-height: 100vh; */
/*   margin:auto; */
	background-color: #24262b;
    padding: 70px 0;
  position: sticky;
  top: 100%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
/* 	color: #bbbbbb; */
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.carousel-item img{
  width: 100%;
  height: auto;
}